{% extends "base_generic.html"%}

{% block content %}
<svg id="switchgear_10" class="switchgear" xmlns="http://www.w3.org/2000/svg"  width="1832" height="600" viewBox="-1 -1 1834 600" version="1.1">
	<defs> 
		{% include "symbols.svg" %}
	</defs>
	<g stroke-width="1" fill="none" stroke="black">
<!-- 1-ая секция шин -->
		<rect x="80" y="100" width="880" height="12"/>
<!-- линейная ячейка старый символ-->
		<use id="cell_11" data-type="cell" xlink:href="#line_cell" x="100" y="100" width="120" height="450" 
			onclick="getControl('cell_11', 'on');" ondblclick="getControl('cell_11', 'off');"/>
		<text id="cell_11_current" x="200" y="220px" font-size="28px" stroke="black" stroke-width="0.5" fill="black">000</text>
<!-- линейная ячейка выведена в ремонт-->
		<use id="cell_13" xlink:href="#cell_wo_sw" x="300" y="100" width="120" height="450"/>
<!-- вводная ячейка 1 сш -->
		<use id="cell_01" xlink:href="#cell_wo_line" x="500" y="100" width="120" height="450"/>
		<use id="cell_01_sw" xlink:href="#switch" x="500" y="100" width="120" height="450"/>
<!-- секционный выключатель 1 сш -->
		<use id="cell_03" xlink:href="#cell_wo_line" x="700" y="100" width="120" height="450"/>
		<use id="cell_03_sw" xlink:href="#switch" x="700" y="100" width="120" height="450"/>
<!-- линейная ячейка -->
		<use id="cell_05" xlink:href="#cell_wo_sw" x="900" y="100" width="120" height="450"/>
		<use id="cell_05_sw" xlink:href="#switch" x="900" y="100" width="120" height="450"/>

	</g>
</svg>
{% endblock %}